
.wrapper {
	display: flex;
	max-width: 1140px;
	margin: 0 auto;
}

.Option_title {
	width: 100%;
	border-radius: 4px;
}

.Option_title h3 {margin: 0;color: #b41f17;}

.Options {
	background-color: #dd2c00
}

.in-left-menu>ul {
    margin: 0;
    padding: 4px 0 0;
    list-style: none;
    margin-bottom: 10%;
}

.main{background-color:#fff;display: flex;margin: 0 auto;max-width: 1140px; margin: 0 auto;padding: 20px 15px 50px;}





@media screen and (max-width: 640px) {
    .m_classLink {
        display: block;
        position: relative;
        width: 100%;
        margin: 0 0 10px;
        background-color: #f9f9f9;
    }
}


@media screen and (max-width: 750px) {
    .main {
        padding-top: 0;
        display: block;
    }

    ul.classLink {
        display: none;
    }
}
